<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/main.css}">
        <title>Title</title>
    </head>
    <body>
        <span class="text-md text-red-800 " th:text="${thing}"></span>
        <script type="text/javascript" th:src="@{/webjars/htmx.org/2.0.4/dist/htmx.min.js}"></script>
        <h1 class="text-3xl font-bold cursor-pointer underline">
            Witaj
        </h1>
    </body>
</html>